:root {
  --bg: #1e1e2e;
  --bg-x: #11111b;
  --fg: #cdd6f4;
  --fg-alt: #a6adc8;
  --acc: #89dceb;
}

* {
  box-sizing: border-box;
  transform-style: preserve-3d;
  /* for some reason, this is necessary to get the 
   * overflow: hidden to work on parallax objects */
  overflow: hidden;
}

.parallax-container {
  perspective: 1px;
  height: 100svh;
  overflow-x: hidden;
  overflow-y: auto;
}

a,
li,
ul,
h1,
h2,
h3 {
  overflow: visible;
}

body {
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  background: var(--bg);
  color: var(--fg);
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  margin-left: 0.25rem;
  padding: 0 0.25rem;
  padding-bottom: 5rem;
  width: 2rem;
  overflow: hidden;
  transition: width 0.5s ease;
  z-index: 1;
}

@media screen and (min-width: 700px) {
  nav {
    margin-left: 1rem;
  }
}

nav::before {
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border: 1rem solid var(--bg-x);
  border-bottom: 1rem solid transparent;
  content: "";
}

nav:hover,
nav:active,
nav:focus-within {
  width: 10rem;
}

nav a {
  color: var(--fg-alt);
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2.5rem;
  height: 2rem;
  width: max-content;
  display: inline-flex;
  align-items: center;
  transition: color 0.1s ease;
  position: relative;
  overflow: visible;
}

nav a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border: 1rem solid var(--bg-x);
  border-right: 1rem solid transparent;
  z-index: -1;
}

nav a:hover {
  text-decoration: none;
  color: var(--fg);
}

svg {
  fill: currentColor;
  vertical-align: text-bottom;
}

nav svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  transition: fill 0.1s ease;
}

nav>a::before {
  content: "";
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 0.675rem;
  width: 0.25rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  background: var(--fg-alt);
}

nav>a:hover::before {
  width: 0.25rem;
}

nav::after {
  content: "";
  position: absolute;
  bottom: 1.5rem;
  left: 0.875rem;
  width: 0.25rem;
  height: 3rem;
  border-radius: 0.5rem;
  background: var(--fg-alt);
}

header {
  background: var(--bg-x);
  min-height: 60svh;
  width: 100svw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: "Abril Fatface", serif;
  font-size: 5rem;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  width: min-content;
  position: relative;
}

h1::before {
  content: "";
  position: absolute;
  bottom: -0.125rem;
  left: -5%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background: var(--fg-alt);
}

h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(-5% + 1rem);
  width: 110%;
  height: 0.25rem;
  border-radius: 0.5rem;
  background: var(--fg-alt);
}

header p {
  font-weight: normal;
  font-size: 2rem;
  margin: 0 2.5rem 2rem 2.5rem;
}

.elegant {
  color: var(--acc);
  font-family: "Kaushan Script", cursive;
  font-size: larger;
}

main {
  width: 100svw;
  padding: 2.5rem;
}

.about {
  min-height: 40svh;
  max-width: max(50rem, 50vw);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

@media screen and (min-width: 800px) {
  h1 {
    width: max-content;
  }

  main {
    width: 80svw;
    padding: 1rem 0;
    margin: auto;
  }

  .about {
    flex-direction: row;
  }
}

.about>img {
  aspect-ratio: 1;
  min-width: max(200px, 20svw);
}

.about .action {
  text-align: center;
}

.wrap-group {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 2000px) {
  .wrap-group {
    flex-direction: row;
    gap: 3rem;
  }
}

.experience {
  margin: 0 0 5rem 0;
}

h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.experience ul {
  padding: 0;
  list-style-type: none;
}

.period {
  position: relative;
  padding-left: 1rem;
  margin: 1rem 1.5rem;
}

.period::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background: var(--fg-alt);
}

.period::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0.125rem;
  width: 0.25rem;
  height: calc(100% - 1rem);
  border-radius: 0.5rem;
  background: var(--fg-alt);
}

.period .dates {
  height: 1.5rem;
  vertical-align: center;
  font-size: smaller;
  color: var(--fg-alt);
}

.period ul {
  margin: 0.5rem;
  padding-left: 0.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.period ul>li,
.certifications ul>li {
  position: relative;
}

.period ul>li::before,
.certifications ul>li::before {
  content: "";
  position: absolute;
  top: calc(50% - 0.25rem);
  left: -2rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
  background: var(--fg-alt);
}

.certifications {
  margin-bottom: 4rem;
}

.certifications ul>li {
  list-style-type: none;
  padding-left: 1rem;
}

.certifications ul>li::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.125rem);
  left: -1rem;
  width: 1.5rem;
  height: 0.25rem;
  border-radius: 0.5rem;
  background: var(--fg-alt);
}

.projects>h2 {
  margin-bottom: 1.5rem;
}

a.noline::before {
  display: none;
}

.project {
  border-radius: 1.5rem;
  margin-bottom: 3rem;
  position: relative;
  background-size: 0;
  overflow: hidden;
}

.project::before {
  content: "";
  background-image: inherit;
  position: absolute;
  width: 100svw;
  height: 100svh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  transform: translateZ(-0.5px) scale(1.4);
  transition: transform 0.3s ease;
  transform-origin: bottom;
}

@media screen and (prefers-reduced-motion) {
  .parallax-container {
    perspective: none;
  }

  .project::before {
    transform: none;
    background-position-y: center;
    height: 100%;
  }
}

.project>div {
  border-radius: 1.5rem;
  padding: 1.5rem;
  background: var(--bg-x);
  margin-top: 30%;
}

@media screen and (min-width: 700px) {
  .project>div {
    margin-top: 0;
    margin-left: 30%;
  }

  .period::before {
    transform-origin: right;
  }
}

.project h3 {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
  transition: color 0.2s ease;
}

a:hover .project::before {
  transform: translateZ(-0.4px) scale(1.4);
}

a:hover .project h3 {
  color: var(--acc);
}

aside {
  color: var(--fg-alt);
  font-size: smaller;
  margin-bottom: 1.5rem;
}

.project p {
  margin: 1.5rem 0;
  color: var(--fg);
}

.project ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1rem;
  flex-wrap: wrap;
}

.project ul>li {
  background: var(--bg);
  color: var(--fg-alt);
  padding: 0.5rem 1rem;
  border-radius: 1em;
  min-width: 1em;
  text-align: center;
  font-size: 1rem;
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.125em;
  left: 0;
  width: 0;
  height: 0.125em;
  border-radius: 0.125em;
  background-color: var(--acc);
  transition: width 0.2s ease, color 0.2s ease;
}

a:hover::before {
  width: 100%;
}

a:hover {
  color: var(--acc);
}